[Unit]
Description=Sensor Analytics Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=pi
Group=pi
WorkingDirectory=/home/pi/environment
ExecStart=/usr/bin/python3 /home/pi/environment/enviro.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
